.preview {
	position: relative;
	text-align: center;
	padding: 8% 0%;
	font-size: 75px;
	font-weight: 200;
	background: #3e3cf8;
	color: #fff;
	margin: 30px 140px;
	z-index: 0;
	background-image: linear-gradient(-225deg,#3d3bff 0%,#3e3cec 48%,#8200ff 100%);
}

.preview__link {
	text-decoration: none;
	border-bottom: 20px solid #8001ff;
	display: inline-block;
	line-height: 0.5;
}

.preview__link:active,
.preview__link:visited,
.preview__link:hover,
.preview__link:link {
	color: #fff;
}
