.content__works {
	position: relative;
	padding-top: 120px;

	h3 {
		font-size: 48px;
		font-weight: 300;
		margin-top: 0.7em;
		margin-bottom: 0.5em;
	}

	.row__block > p {
		font-size: 30px;
		font-weight: 300;
		line-height: 1.5;
	}
}
